name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [., ./gcs, ./s3]
        go-version: ["1.25", "1.26"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
      - run: go test -race ./...
        working-directory: ${{ matrix.module }}
